.subheadings {
  background-color: #9fcdd9 !important;
}

#directions {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.nav-link {
    color:#006e47;
}

.nav-link:focus, .nav-link:hover {
    color: #1084a1;
}

.ag-theme-alpine {
  --ag-grid-size: 4px !important;
  --ag-header-height: 45px !important;
}