{% extends 'base.html' %}

{% block content %}
    <form class="form-inline mx-0" action="search">
        <!--<input class="form-control ml-1 mr-0 "style="height:30px; display:inline-block" type="search" placeholder="Paste Recipe" aria-label="Search" name="query">-->
        <textarea class="form-control" type="search" placeholder="Paste Ingredients" aria-label="Search" name="query"></textarea>
        <textarea class="form-control" type="search" placeholder="Paste Directions" aria-label="Search" name="directions"></textarea>
        <button class="btn btn-outline-warning my-2 my-sm-1 mx-0 inline" style="height:27px; display:inline-block; padding:0px 5px"type="submit">Go</button>
    </form>
    <form class="form-inline mx-0" action="search">
        <textarea class="form-control" type="search" placeholder="Paste Link" aria-label="Search" name="link"></textarea>
        <button class="btn btn-outline-warning my-2 my-sm-1 mx-0 inline" style="height:27px; display:inline-block; padding:0px 5px"type="submit">Go</button>
    </form>
{% endblock %}